<?php $brand = $this->getBrand(); ?>

<?php if ($brand): ?>

    <h3><?php echo $this->__('Brand'); ?></h3>
    <p><a href="<?php echo $this->helper('mmd_brandexample/brand')->getBrandUrl($brand); ?>" title="<?php echo $this->escapeHtml($brand->getName()); ?>"><?php echo $brand->getName(); ?></a></p>
    
<?php endif; ?>